@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fugaz+One&family=Lexend+Tera:wght@100..900&family=Lexend:wght@100..900&family=Michroma&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

body,html{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#cover{
    width: 100%;
    height: 100vh;
    background: url(../images/Screenshot\ 2025-05-13\ 115106.jpg);
    background-size: cover;
}
.chat-pop-cont{
    position: fixed;
    right: 1vw;
    bottom: 1vw;
    gap: 1vw;
    display: none;
    transition: all ease .4s;
}
.chat-msg{
    position: relative;
    width: 20vw;
    height: 4vw;
    padding: 0 .2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: all ease .4s;
    border-radius: .5vw;
    visibility: hidden;
    opacity: 0;
    box-shadow: -3px 4px 12px -2px #4d4d4d73;
}
.chat-msg-active{
    visibility: visible !important;
    opacity: 1 !important;
}
.chat-msg:after{
    position: absolute;
    content: '';
    right: -0.5vw;
    width: 1vw;
    height: 1vw;
    transform: rotate(45deg);
    z-index: 0;
    background-color: #fff;
}
.chat-msg span{
    font-family: 'poppins';
    font-weight: 400;
    z-index: 1;
}
.chat-msg-close{
    position: absolute;
    left: -2vw;
    top: 0;
    font-size: .75vw;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins';
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
}
.chat-pop{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease .4s;
}
.chat-pop svg{
    width: 50%;
}
.f-active{
    display: none !important;
}
.bot-img{
    width: 2.5vw;
}
.chat-bot{
    position: fixed;
    right: 1vw;
    bottom: -100%;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1.5vw;
    height: auto;
    padding: 0 0 1vw 0;
    background: linear-gradient(to top,#b3e5ff,#e5f6ff);
    border: 2px solid #005380;
    overflow: hidden;
    transition: all ease .4s;
}
.chat-up{
    bottom: 1vw !important;
}
.scale{
    transform: scale(.2);
}
.chat-box-top {
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #005380;
}
.chat-bot-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-bot-right{
    display: flex;
    gap: 1vw;
}
.whatsapp{
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whatsapp-img{
    width: 100%;
    height: 100%;
    border-radius: 5vw;
}
.chat-box-top span{
font-size: 1.1vw;
    color: #fff;
    font-weight: 400;
    font-family: 'montserrat';
}
.chat-img{
    position: relative;
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #0077b6;
    border: 2px solid #ffffff;
    margin: .5vw;
}
.chat-img:after{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: rgb(7, 219, 7);
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
    border: 1px solid #fff;
    z-index: 1;
}
.bot-svg{
    background-color: #0077b6;
    border-radius: 50%;
}
.chat-img img{
    width: 90%;
}
.chat-close{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin-right: .5vw;
    display: flex;
    font-family: 'barlow';
    font-weight: 400;
    font-size: 2vw;
    color: #005380;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
}
.chat-box{
    position: relative;
    width: 100%;
    height: 30vw;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.chat-box::-webkit-scrollbar{
    display: none;
}
.message{
    position: relative;
    width: 100%;
    display: flex;
    align-items: end;
    gap: .5vw;
    height: auto;
    border-radius: 2vw;
    padding: 5px 0;
    font-family: 'barlow';
}
.message-text{
    position: relative;
    max-width: 65%;
    border-radius: 5px;
    padding: 0.5vw 1vw 1.5vw;
    min-height: 2vw;
    min-width: 3vw;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .5vw;
}
.message-text input{
    position: relative;
    outline: none;
    border: none;
    padding: .5vw;
    width: 95%;
}
.message-time{
    position: absolute;
    font-size: .8vw;
    right: 1vw;
    bottom: 0.5vw;
}
.user-inputs{
    position: relative;
    width: 100%;
}
.user-inputs span{
    position: absolute;
    color: red;
    right: 0;
    top: 0;
}
.message-text input:before{
    content: '*';
    position: absolute;
    font-size: 1vw;
    color: red;
    right: 0;
    width: 1vw;
    height: 1vw;
}
.bot-message .message-text{
    background-color: #f2f2ff;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.user-message{
    align-items: flex-end;
    justify-content: end;
}
.user-message .message-text{
    background-color: #005380;
    margin-right: 10px;
    color: #fff;
}
.message svg{
    width: 2vw;
    height: 2vw;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 10px;
}
.message span{
    font-weight: 500;
}
.bot-img{
    width: 1.5vw;
    height: 1.5vw;
    background-color: #0077b6;
    border-radius: 50%;
    margin-left: 10px;
    padding: 5px;
}
.bot-message ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: .5vw;
    padding: 0;
    margin: 0;
}
.bot-message li{
    text-decoration: none;
    list-style-type: none;
    padding: .5vw;
    border: 1px solid #53A7DD;
    border-radius: .5vw;
    cursor: pointer;
}
.bot-message li:hover{
    background-color: #53A7DD;
}
.thinking .message-text{
    border-radius: 10vw;
    padding: .5vw 1vw;
    min-width: 0vw;
}
.thinking-indicator{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2vw;
    gap: 5px;
}
@keyframes blink {
    0% { opacity: 0.3; }
    20% { opacity: 1; }
    100% { opacity: 0.3; }
  }
  
  .text-dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgb(46, 46, 144);
    animation: blink 1.4s infinite;
  }
  
  .text-dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .text-dot:nth-child(3) {
    animation-delay: 0.4s;
  }
.chat-input{
    position: relative;
    width: 95%;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    background-color: #fff;
    outline: none;
    border: 1px solid #cdcdcd;
    border-radius: 5vw;
    padding: 0 5px;
    margin: 0.5vw 0;
    translate: 0vw 0.5vw;
    visibility: hidden;
    opacity: 0;
    transition: all ease .4s;
}
.chat-input:focus-within{
    outline: 1px solid #005380;
}
.chat-input input,textarea{
    width: 100% !important;
    outline: none;
    border: none;
    resize: none;
}
.chatbot2{
    display: none;
}
.chat-input textarea{
    margin-top: 1vw;
    width: 100% !important;
    outline: none;
    border: none;
    resize: none;
}
#chat_input:disabled .chat-input{
    cursor: not-allowed;
}
#send-message:disabled .chat-input {
    opacity: 0.1;
    cursor: not-allowed;
}
#send-message,#send-chat{
    width: 2.5vw;
    height: 2.5vw;
    border: none;
    background-color: #005380;
    border-radius: 50%;
    color: #fff;
    transition: all ease .4s;
}
#send-message i{
    font-size: 1.2vw;
    transition: all ease .4s;
}
#send-message img{
    width: 70%;
}

.contact-cont{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    left: -100%;
    background-color: #ffffff9c;
    backdrop-filter: blur(4px);
    transition: all ease .4s;
}
.c-active{
    left: 0 !important;
}
.contact-cont p{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    color: #005380;
    font-family: 'montserrat';
    font-weight: 600;
    text-align: center;
}
.contact-boxes{
    display: flex;
    gap: 1vw;
}
.contact-box{
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    gap: 1vw;
    border-radius: 50%;
    background-color: #005380;
    border: 2px solid #fff;
    transition: all ease .4s;
}
.contact-box i{
    color: #fff;
    transition: all ease .4s;
}
.contact-box:hover{
    background-color: #fff;
    border-color: #005380;
}
.contact-box:hover i{
    color: #005380;
}
a{
    text-decoration: none;
}


@media screen and (max-width: 660px) {
        html, body {
        overflow-x: hidden;
    }
    .chat-pop {
    width: 15vw;
    height: 15vw;
    }
    .chat-pop-cont {
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    }
    .chat-bot {
    right: 0vw;
    bottom: -120vh;
    height: 100vh;
    width: 100vw;
    }
    .chat-box-top {
    width: 100%;
    height: 15vh;
    }
    .chat-img {
    width: 15vw;
    height: 15vw;
    }
    .chat-bot-left{
    gap: 3vw;
    }
    .chat-box-top span {
    font-size: 3.5vw;
    }
    .chat-box {
    position: relative;
    width: 100%;
    height: 85vh;
    }
    .whatsapp{
    width: 10vw;
    height: 10vw;
    }
    .chat-close {
    width: 10vw;
    height: 10vw;
    font-size: 6vw;
    }
    .chat-img:after {
    right: 0px;
    bottom: 5px;
    }
    .bot-img {
    width: 4vw;
    height: 4vw;
    }
    .message {
    gap: 3vw;
    padding: 10px 0;
    }
    .bot-message ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    }
    .message-text {
    max-width: 65%;
    font-size: 4vw;
    }
    .message-time {
    position: absolute;
    font-size: 2.5vw;
    right: 4vw;
    bottom: 1vw;
    }
    .chat-bot-right {
    display: flex;
    gap: 4vw;
    }
    .message-text {
    font-size: 4vw;
    border-radius: 10px;
    padding: 2.5vw 4vw 5vw;
    gap: 2vw;
    }
    .bot-message li {
    padding: 4vw;
    border-radius: 2vw;
    }
    .chat-input {
        width: 95%;
        height: 12vw;
    }
    #send-message, #send-chat {
        width: 9vw;
        height: 9vw;
    }
    #send-message i {
    font-size: 4.2vw;
    }

}
